:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

    background-color: var(--background-color);
    
    font-size: 16px;
    color: var(--purple);
}

div.container {
    height: 100vh;
    width: 100%;

    margin-top: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

div.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.outlined {
    width: 213px;
    height: 213px;

    margin-bottom: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #BB99DD;
    border-radius: 50%;
}
.outlined img {
    width: 200px;
    height: 200px;
    
    border-radius: 50%;
}

div p {
    font-weight: 300;
    margin-bottom: 33px;
}

div li {
    width: 326px;
    height: 49px;

    margin-bottom: 16px;

    justify-content: center;
    display: flex;
    align-items: center;

    border: 2px solid #BB99DD;
    border-radius: 4px;
}

div.icons {
    width: 236px;

    margin-top: 50px;

    justify-content: space-between;
    display: flex;
}

ul {
    list-style: none;
}

i, li {
    cursor: pointer;
}

@media (max-width: 500px) {
    div.container {
      margin-top: 100px;
    }
  }